:root {
    --main-background: darkgreen;
    --header-footer-bg: whitesmoke;
    --header-footer-color: darkgreen;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--header-footer-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--main-background);
}

/* HEADER AND NAVIGATION */
header {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-footer-bg);
    color: var(--header-footer-color);
    margin: 5px;
    padding: 1%;
    border: 5px solid black;
}

header h1 {
    font-size: 50px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

header nav {
    border: 5px solid black;
}

header nav a {
    padding: .3em;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

/* NAVIGATION UNDERLINE ANIMATION */
header nav a:hover:after {
    transform: scaleX(1);
    transform-origin: initial;
}

header nav a:after {
    content: '';
    position: absolute;
    background-color: darkolivegreen;
    transition: transform 0.5s ease-out;
    width: 100%;
    align-content: center;
    transform: scaleX(0);
    height: 3px;
    left: 0;
    right: 0;
    bottom: 10px;
  }
  